body {
  margin: auto;
  width: 100%;
}

.forecast-main {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.forecasts {
  height: 50vh;
  position: absolute;
  width: 50%;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin: 0px;
}

.forecast-column {
  margin: 0.1em;
  position: relative;
  width: 3em;
  padding: 0.3em;
  display: flex;
  flex-direction: column; 
  justify-content: flex-end;
  align-items: center;
  background-color: white;
  border-radius: 2px;
  opacity: 0.7;
  transition: all 0.3s ease;
  animation: 2s move;
  box-shadow: 0 5px 20px -10px #545454;
}

.forecast-column:hover {
  opacity: 0.7;
  transform: perspective(1000px) translate3d(0px, 3px, 0px) rotateY(1deg) rotatex(12deg);
  box-shadow: 0 0px 30px -5px  #545454;
}

.forecast-column:hover img{
  width: 0.1em;
  height: 0.1em;
  opacity: 0.9;
  transform: scale(33) translate3d(0px, -10px, 0px);
}

.daily-info {
  visibility: hidden;
}

.cica:hover .daily-info {
  visibility: visible;
  display: flex;
  flex-direction: row;
  width: 30vw;
  height: 20vh;
  left: 50vw;
  top: 50vh;
  position: fixed;
  border-radius: 2px;
  opacity: 0.54;
  color: white;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 1em;
}

h3 {
  font-size: 0.7em;
}

img {
  margin-bottom: 0.3em;
  opacity: 0;
  width: 0.1em;
  height: 0.1em;
  transition: all 0.3s ease;
  animation: 2s move;
}
